<div class="container">
  <hr>
  <div class="col-md-3-3">
    <div class="bg-black p-3 text-white text-center">
      <h1>首頁</h1>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2><a routerLink="/tab1" class="bg-secondary p-3 text-white text-center">Tab1：</a></h2>
      <h3>抽獎，兌換券，點數</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2><a routerLink="/tab2" class="bg-secondary p-3 text-white text-center">Tab2：</a></h2>
      <h3>藥物資訊，處方箋資訊</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2><a routerLink="/tab3" class="bg-secondary p-3 text-white text-center">Tab3：</a></h2>
      <h3>已購買(已訂閱)軟體(線上服務)清單</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2><a routerLink="/tab4" class="bg-secondary p-3 text-white text-center">Tab4：</a></h2>
      <h3>尚未購買(書籍)硬體清單</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2><a routerLink="/tab5" class="bg-secondary p-3 text-white text-center">Tab5：</a></h2>
      <h3>倒數日期(天數)資訊</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2><a routerLink="/tab6" class="bg-secondary p-3 text-white text-center">Tab6：</a></h2>
      <h3>經歷，團隊成員</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2><a routerLink="/tab7" class="bg-secondary p-3 text-white text-center">Tab7：</a></h2>
      <h3>鋒兄Tube</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2><a routerLink="/tab8" class="bg-secondary p-3 text-white text-center">Tab8：</a></h2>
      <h3>銀行，利息，電子支付</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2><a routerLink="/tab9" class="bg-secondary p-3 text-white text-center">Tab9：</a></h2>
      <h3>Bootstrap 5 練習</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab10：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab11：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>  <div class="col-md-3-3">
  <div class="bg-secondary p-3 text-white text-center">
    <h2>Tab12：</h2>
    <h3>……</h3>
  </div>
</div>
  <hr>  <div class="col-md-3-3">
  <div class="bg-secondary p-3 text-white text-center">
    <h2>Tab13：</h2>
    <h3>……</h3>
  </div>
</div>
  <hr>  <div class="col-md-3-3">
  <div class="bg-secondary p-3 text-white text-center">
    <h2>Tab14：</h2>
    <h3>……</h3>
  </div>
</div>
  <hr>  <div class="col-md-3-3">
  <div class="bg-secondary p-3 text-white text-center">
    <h2>Tab15：</h2>
    <h3>……</h3>
  </div>
</div>
  <hr>  <div class="col-md-3-3">
  <div class="bg-secondary p-3 text-white text-center">
    <h2>Tab16：</h2>
    <h3>……</h3>
  </div>
</div>
  <hr>  <div class="col-md-3-3">
  <div class="bg-secondary p-3 text-white text-center">
    <h2>Tab17：</h2>
    <h3>……</h3>
  </div>
</div>
  <hr>  <div class="col-md-3-3">
  <div class="bg-secondary p-3 text-white text-center">
    <h2>Tab18：</h2>
    <h3>……</h3>
  </div>
</div>
  <hr>  <div class="col-md-3-3">
  <div class="bg-secondary p-3 text-white text-center">
    <h2>Tab19：</h2>
    <h3>……</h3>
  </div>
</div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab20：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab21：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab22：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab23：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab24：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab25：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab26：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab27：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab28：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab29：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab30：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab31：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab32：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab33：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab34：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab35：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab36：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
  <div class="col-md-3-3">
    <div class="bg-secondary p-3 text-white text-center">
      <h2>Tab37：</h2>
      <h3>……</h3>
    </div>
  </div>
  <hr>
</div>
