<app-tablemy columntitle1="帳戶名稱" columntitle2="帳戶類型" columntitle3="帳戶餘額" columntitle4="金融卡類型" [columns]="columns"></app-tablemy>
<app-tablemy columntitle1="消費帳戶" columntitle2="帳戶餘額" columntitle3="備註一" columntitle4="備註二" [columns]="columns2"></app-tablemy>
<app-tablemy columntitle1="帳戶名稱" columntitle2="轉帳優惠次數" columntitle3="跨行提款優惠次數" columntitle4="備註" [columns]="columns3"></app-tablemy>
<img class="img-fluid" src="https://www.tcb-bank.com.tw/-/media/images/bank/personal-banking/digital-finance/taiwan-pay-folder/taiwan-pay/114/transfer.jpg?sc_lang=zh-tw&hash=BB026009CF586450E7D5D84FE150BC31">
