<label>倒數標題:</label>
<br>
<input type="text" [(ngModel)]="mydatetitle"><button (click)="mydatetitle = ''">-</button>
<br>
<input type="date" [(ngModel)]="mydatestr">
<br>
距離{{mydatetitle}}，倒數{{DateCountDown()}}天
<br>
距離紅鸞星動，倒數{{DateCountDown3("2025-06-15")}}天
<br>
距離考試通知書，倒數{{DateCountDown3("2025-06-19")}}天
<div class="card" style="width: 18rem;">
  <img src="https://s2.eslite.com/unsafe/fit-in/x900/s.eslite.com/upload/product/o/2682188615009/20220702053739463582.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">距離考試延期</h5>
    <p class="card-text">倒數{{DateCountDown3("2025-07-05")}}天</p>
    <a href="https://www.eslite.com/product/1001129722682188615009" class="btn btn-primary">我所看見的未來(成真再買)</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://s2.eslite.com/unsafe/fit-in/x900/s.eslite.com/b2b/vendor/vendor171859276166220240617105255/mainCoverImage1_1274055.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">距離考試延期</h5>
    <p class="card-text">倒數{{DateCountDown3("2025-07-05")}}天</p>
    <a href="https://www.eslite.com/product/10012012032682593870000" class="btn btn-primary">聖經和合本 (黑色燙金大字紅字索引精裝)[成真再買]</a>
  </div>
</div>
