<h1>Tab2</h1>
<h2>藥物資訊</h2>
<h3>Mirtazapine O.D 30mg/ tab (Sinmaron) 儲備天數:25天(相當於3週又4天)</h3>
<h2>處方箋資訊</h2>
<h3>天晟/譚詠康(身心科)：處方箋一</h3>
<h4>05/26(一)~06/05(四)</h4>
<h3>天晟/黃信凱(心臟內科)：處方箋一</h3>
<h4>無</h4>
<h3>天晟/黃信凱(心臟內科)：處方箋二</h3>
<h4>05/27(二)~06/06(五)</h4>
<h3>天晟/譚詠康(身心科)：處方箋二</h3>
<h4>06/23(一)~07/03(四)</h4>
<h3>天晟/黃信凱(心臟內科)：門診</h3>
<h4>07/04(五)下午[預定改成07/11(五)下午]</h4>
<h3>天晟/譚詠康(身心科)：門診</h3>
<h4>07/31(四)下午</h4>
<h3>范光迪/陳建鴻：門診</h3>
<h4>06/27(五)上午[預定改成06/30(一)上午、預定改成07/03(三)上午、預定改成07/10(三)上午、預定改成07/11(四)上午、預定改成07/12(五)上午]</h4>
<h3>晶鑽牙醫</h3>
<h4>08/00(無)下午</h4>