<nav>
    <a routerLink="/tab0">首頁</a>{{" "}}
    <hr>
    <a routerLink="/tab1">Tab1</a>{{" "}}
    <a routerLink="/tab2">Tab2</a>{{" "}}
    <a routerLink="/tab3">Tab3</a>{{" "}}
    <a routerLink="/tab4">Tab4</a>{{" "}}
    <a routerLink="/tab5">Tab5</a>{{" "}}
    <a routerLink="/tab6">Tab6</a>{{" "}}
    <a routerLink="/tab7">Tab7</a>{{" "}}
    <a routerLink="/tab8">Tab8</a>{{" "}}
    <a routerLink="/tab9">Tab9</a>{{" "}}
    <hr>
    <a routerLink="/tab10">Tab10</a>{{" "}}
    <a routerLink="/tab11">Tab11</a>{{" "}}
    <a routerLink="/tab12">Tab12</a>{{" "}}
    <a routerLink="/tab13">Tab13</a>{{" "}}
    <a routerLink="/tab14">Tab14</a>{{" "}}
    <a routerLink="/tab15">Tab15</a>{{" "}}
    <a routerLink="/tab16">Tab16</a>{{" "}}
    <a routerLink="/tab17">Tab17</a>{{" "}}
    <a routerLink="/tab18">Tab18</a>{{" "}}
    <a routerLink="/tab19">Tab19</a>{{" "}}
    <hr>
    <a routerLink="/tab20">Tab20</a>{{" "}}
    <a routerLink="/tab21">Tab21</a>{{" "}}
    <a routerLink="/tab22">Tab22</a>{{" "}}
    <a routerLink="/tab23">Tab23</a>{{" "}}
    <a routerLink="/tab24">Tab24</a>{{" "}}
    <a routerLink="/tab25">Tab25</a>{{" "}}
    <a routerLink="/tab26">Tab26</a>{{" "}}
    <a routerLink="/tab27">Tab27</a>{{" "}}
    <a routerLink="/tab28">Tab28</a>{{" "}}
    <a routerLink="/tab29">Tab29</a>{{" "}}
    <hr>
    <a routerLink="/tab30">Tab30</a>{{" "}}
    <a routerLink="/tab31">Tab31</a>{{" "}}
    <a routerLink="/tab32">Tab32</a>{{" "}}
    <a routerLink="/tab33">Tab33</a>{{" "}}
    <a routerLink="/tab34">Tab34</a>{{" "}}
    <a routerLink="/tab35">Tab35</a>{{" "}}
    <a routerLink="/tab36">Tab36</a>{{" "}}
    <a routerLink="/tab37">Tab37</a>{{" "}}    
    <hr>
</nav>
<router-outlet/>
