<h1>鋒兄Tube 🎬</h1>
<input type="file" class="form-control form-control-sm" (change)="onFileSelected($event)" accept="video/*">
<hr>
<!--<video #playerContainer id="my-player" class="video-js vjs-default-skin"></video>-->
<!--<video #playerContainer id="my-player" class="video-js vjs-theme-city"></video>-->
<video #playerContainer id="my-player" class="video-js vjs-theme-forest"></video>
<!--<video #playerContainer id="my-player" class="video-js vjs-theme-sea"></video>-->
<!--<video #playerContainer id="my-player" class="video-js vjs-theme-fantasy"></video>-->
<h3>播放清單️</h3>
<ul>
  <li *ngFor="let item of playlist; let i = index" (click)="playIndex(i)">
    ▶️ {{ item.name }}
  </li>
</ul>
