@if (isEdit) {
  <ul>
    <li>
  <label>{{ columntitle1 }}：</label>
      <textarea [(ngModel)]="tempcolumn1"></textarea>
    <li>
      <label>{{ columntitle2 }}：</label>
      <textarea [(ngModel)]="tempcolumn2"></textarea>
    </li>
    <li>
      <label>{{ columntitle3 }}：</label>
      <textarea [(ngModel)]="tempcolumn3"></textarea>
    </li>
    <li>
      <label>{{ columntitle4 }}：</label>
      <textarea [(ngModel)]="tempcolumn4"></textarea>
    </li>
    <li>
  <button (click)="SaveClick()">儲存</button>
  <button (click)="CancelClick()">取消</button>
    </li>
  </ul>
}
@if (crud){
  @if (isMore) {
    <button (click)="isMore = false">更少資訊</button>
  } @else {
    <button (click)="isMore = true">更多資訊</button>
  }
}
<table class="table">
  <thead>
  <tr>
    <th>{{ columntitle1 }}</th>
    <th>{{ columntitle2 }}</th>
    <th>{{ columntitle3 }}</th>
    <th>{{ columntitle4 }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let column of columns; let i = index">
    <td>{{ column.column1 }}</td>
    <td>{{ column.column2 }}</td>
    <td>{{ column.column3 }}</td>
    <td>{{ column.column4 }}</td>
    @if (isMore) {
      <td>
        <button (click)="EditClick(column, i)">編輯</button>
        <button (click)="RemoveClick(i)">刪除</button>
      </td>
    }
  </tr>
  </tbody>
</table>
